<h2> <%= @plan.plan_name %> </h2>
<h3> $<%= @plan.plan_budget.to_s.reverse.scan(/\d{3}|.+/).join(",").reverse %> </h3>
<h3> Remaining Budget: $<%= @remaining_budget.to_s.reverse.scan(/\d{3}|.+/).join(",").reverse %> </h3>
<table>
  <tr>
    <th> Channel Name </th>
    <th> Channel Budget </th>
  </tr>
  <% @plan.channels.each do |c| %>
  <tr>
  <td> <%= c.channel_name %> </td>
  <td> $<%= c.channel_budget.to_s.reverse.scan(/\d{3}|.+/).join(",").reverse %> </td>
  </tr>
  <% end %>
</table>
